/**
 Custom CSS that is common to all pages (or shared by most).
 Specific CSS should go to templates.
 */

.article-container {
    margin: 2rem 5% 2rem 5%;
}

footer {
    margin: 2rem 5% 2rem 5%;
}

/* Chip */
.badge {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 8px;
    margin-bottom: 8px;
    font-size: 75%;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 3px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.badge-light {
    border: none;
    color: rgba(0,0,0,.68);
    background: rgba(0,0,0,5%);
}
