{{ $page := .page }}
{{ $pubLinks := slice }}

{{/* Cite */}}
{{ with $page.Resources.Get "cite.bib" }}
    {{ $pubLinks = $pubLinks | append (dict "url" .RelPermalink "name" "Cite" "icon" "fas/quote-left") }}
{{ end }}

{{/* DOI */}}
{{ with $page.Params.doi }}
    {{ $pubLinks = $pubLinks | append (dict "url" (printf "https://doi.org/%s" .) "name" "DOI" "icon" "academicons/doi") }}
{{ end }}

{{/* HAL */}}
{{ with $page.Params.hal }}
    {{ $pubLinks = $pubLinks | append (dict "url" (printf "https://hal.science/%s" .) "name" "HAL" "icon" "academicons/hal") }}
{{ end }}

{{/* PDF */}}
{{ with $page.Params.url_pdf }}
    {{ $pubLinks = $pubLinks | append (dict "url" . "name" "PDF" "icon" "fas/file-pdf") }}
{{ end }}

{{/* Slides */}}
{{ with $page.Params.url_slides }}
    {{ $pubLinks = $pubLinks | append (dict "url" . "name" "Slides" "icon" "fas/file-powerpoint") }}
{{ end }}

{{/* Poster */}}
{{ with $page.Params.url_poster }}
    {{ $pubLinks = $pubLinks | append (dict "url" . "name" "Poster" "icon" "fas/file-image") }}
{{ end }}

{{/* Custom Links */}}
{{ range $page.Params.links }}
    {{ $pubLinks = $pubLinks | append (dict "url" .url "name" .name "icon" .icon) }}
{{ end }}

{{ partial "list-links.html" (dict "page" $page "links" $pubLinks) }}
