<style>
    .student-list {
        list-style: none;
        margin: 0 5%;
    }

    .student-item {
        display: flex;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid #eee;
    }

    .student-item:last-child {
        border-bottom: none;
    }

    .status-icon {
        margin-right: 10px;
        font-size: 1.2em;
    }

    .date-range {
        margin-right: 10px;
        color: #666;
        font-size: 0.9em;
        min-width: 120px; /* Ensures consistent width for date ranges */
        flex-shrink: 0; /* Prevents date range from shrinking */
    }

    .student-name {
        margin-right: 10px;
        font-weight: bold;
    }

    .student-link {
        color: #2c3e50;
        text-decoration: none;
    }

    .student-link:hover {
        text-decoration: underline;
    }

    .student-kind {
        color: #7f8c8d;
        font-size: 0.9em;
    }
</style>


{{/* Get the list of students from each research project, and sort by date */}}
{{ $students := slice }}
{{ range .Pages }}
    {{ range .Params.students }}
        {{ $students = $students | append . }}
    {{ end }}
{{ end }}

<div class="students-list">
    <ul class="student-list">
        {{ range sort $students "start_date" "desc" }}
        <li class="student-item">

            <!-- Dates -->
            <span class="date-range">
                {{ .start_date }}
                –
                {{ if .end_date }}
                    {{ .end_date }}
                {{ else }}
                    Present
                {{ end }}
            </span>

            <!-- Status Icon -->
            {{ if eq .status "active" }}
                <span class="status-icon" title="Active">
                  {{ partial "icon.html" "user-solid-full" }}
                </span>
            {{ else if eq .status "defended" }}
                <span class="status-icon" title="Defended">
                    {{ partial "icon.html" "user-graduate-solid-full" }}
                </span>
            {{ else if eq .status "abandoned" }}
                <span class="status-icon" title="Abandoned">
                    {{ partial "icon.html" "user-xmark-solid-full" }}
                </span>
            {{ end }}

            <!-- Student Name -->
            <span class="student-name">
                {{ with .url }}
                    <a href="{{ . }}" target="_blank" class="student-link">
                {{ end }}
                {{ .name }}
                {{ with .url }}
                    </a>
                {{ end }}
            </span>

             <!-- Student Kind -->
             <span class="student-kind">
                 {{ .kind }}
             </span>
        </li>
        {{ end }}
    </ul>
</div>
