{{ $page := .wcPage }}
{{ $block := .wcBlock }}

<div class="row education">
  {{ with $block.content.title }}
  <div class="col-md-12 section-heading">
    <h1>{{ . | markdownify | emojify }}</h1>
    {{ with $block.content.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}

  {{ with $block.content.text }}
  <div class="col-md-12">
    {{ . }}
  </div>
  {{ end }}

  <div class="col-md-12">
    <ul class="ul-edu fa-ul">
      {{ range $block.content.items }}
      <li>
        <div class="description">
          <i class="fa=li fas fa-graduation-cap"></i>
          <span class="course">{{ .course }}{{ with .year }}, {{ . }}{{ end }}</span>
          {{ with .subtitle }}<p class="institution">{{ . | markdownify }}</p>{{ end }}
          <p class="institution">{{ .institution }}</p>
        </div>
      </li>
      {{ end }}
    </ul>
  </div>

</div>
