{{- define "main" -}}
{{ $page := . }}

<style>

    .page-title {
        text-align: center;
        margin-top: 3rem;
    }

    .page-title h1 {
        font-size: 2.5rem;
        color: #2c3e50;
        margin-bottom: 0.5rem;
    }

    .page-title p {
        font-size: 1.2rem;
        color: #7f8c8d;
        max-width: 600px;
        margin: 0 auto;
    }

</style>

<div class="article">

    <!-- Gantt-like research projects -->
    <div class="page-title">
        <h1>Research activities</h1>
        <p>I am involved in the following active and past projects:</p>
    </div>

    {{ partial "research-projects" . }}

    <!-- Students mentored -->
    <div class="page-title">
        <p>I had the privilege and pleasure to participate in the mentoring of the following students:</p>
    </div>

    {{ partial "research-students" . }}

    <!-- Recent Publications -->
    <div class="page-title">
        <h1 class="mt-12">
            Recent publications
        </h1>
        <p>
            See the <a href='{{ relURL "publication" }}'>complete list</a>
        </p>
    </div>

    {{ $publication_types := slice }}
    {{ with resources.Get "data/publication_types.yaml" }}
        {{ $file := . | transform.Unmarshal }}
        {{ $publication_types = $file.publication_types }}
    {{ else }}
        {{ errorf "Critical: publication_types.yaml not found in assets/data/" }}
    {{ end}}
    {{ $publications := where .Site.RegularPages "Section" "publication" }}
    {{ $recent_publications := $publications.ByDate.Reverse | first 3 }}
    <div id="container-publications" class="max-w-5xl mx-auto px-6 py-12 space-y-8">
        {{ range $recent_publications }}
            {{ partial "publication-card.html" (dict "page" . "allowed_types" $publication_types) }}
        {{ end }}
    </div>


</div>

{{- end -}}
