{{- define "main" -}}
{{ $page := . }}

<style>

    .page-title {
        text-align: center;
        margin-top: 3rem;
    }

    .page-title h1 {
        font-size: 2.5rem;
        color: #2c3e50;
        margin-bottom: 0.5rem;
    }

    .page-title p {
        font-size: 1.2rem;
        color: #7f8c8d;
        max-width: 600px;
        margin: 0 auto;
    }

</style>

<div class="article">

    <!-- Gantt-like research projects -->
    <div class="page-title">
        <h1>Research activities</h1>
        <p>I am involved in the following active and past projects:</p>
    </div>

    {{ partial "research-projects" . }}

    <!-- Students mentored -->
    <div class="page-title">
        <p>I had the privilege and pleasure to participate in the mentoring of the following students:</p>
    </div>

    {{ partial "research-students" . }}

</div>

{{- end -}}
